* {
    color: rgb(189, 189, 189);
    font-family: 'Monda', sans-serif;
    background-color: rgb(43, 57, 58);
}

h1 {
    color: rgb(247, 186, 56);
    font-family: 'Concert One', cursive;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    color: rgb(247, 186, 56);
    font-size: 25px;
    margin-bottom: 0;
}

p {
    font-size: 16px;
    line-height: 1.2;
}

select {
    margin-bottom: 5px;
}

.choose {
    font-size: 16px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    box-sizing: border-box;
}

.note {
    color: black;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    background-color: #5ecfff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
}

#note1, #note13 {
    background-color: #4bd652;
}

.fade {
    color: rgba(0, 0, 0, 0.288);
    background-color: #3bbffc3f;
}

@media (min-width: 560px) {
    .container {
        flex-direction: row;
    }
}

@media (min-width: 700px) {
    .info {
        display: flex;
        justify-content: space-around;
        margin-right: 3rem;
    }
    .col {
        
    }
}